* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body {
	background: rgb(150, 6, 6);
	background: radial-gradient(circle, rgba(150, 6, 6, 1) 0%, rgba(2, 28, 1, 0.9976365546218487) 36%, rgba(0, 0, 0, 1) 100%);
	color: $color_1;
	position: relative;
	min-height: 100vh;
	font-family: 'Mukta', sans-serif; 
}