/* pie de pagina */

$background-color_1: rgb(17, 15, 15);

footer {
	background-color: $background-color_1;
	text-align: center;
	padding: 8px;
	margin-top: 4rem;
	bottom: 0%;
}

.footerVideo {
	font-family:'Times New Roman', Times, serif !important;
	padding: 0 !important;
	margin: 0 !important;
}

@media screen and (max-width:557px) {

	footer {
	  margin-top: 1.6rem;
	}
}